
<ion-modal-view>

    <ion-header-bar>
      <h1 class="title">Om appen</h1>

      	<div style="margin-left:auto; margin-right:10px; ">
    		  <button ng-click="closeModal()" class="button button-clear button-balanced">Klar</button>
    	  </div>

    </ion-header-bar>


    <ion-content class="has-header" has-bouncing="false">

      <div style="height:21px; background-color:white;"></div>


      <div class="item item-text-wrap">


          <p>Syftet med Apptit är att föreslå enkla och snabba recept för studenter att ha ta med i matlådan. Tanken är att dessa recept ska vara smidiga att laga och gå bra att frysa in.<br/><br/>

          Den här appen är skapad av en universitetsstudent som ett sidoprojekt, målet är att hålla den ren och enkel utan något krångel. Antalet recept uppdateras fortlöpande. Har ni några synpunkter eller tips på appen, kontakta mig.

        </p>

      </div>


      <!-- Mail, bör va responsivt-->
      <!--<div class="card">-->
        <div class="item item-text-wrap" style="padding:5px;">

          <div style="height:30px; background-color:white;">

            <a href="mailto:info@apptit.nu" data-rel='external'>

              <i class="icon button-icon ion-ios7-email-outline" style="float:left; color:black;"></i>

              <p style="float:left; margin-left:5px; margin-top:5px;">info@apptit.nu</p>

            </a>
           </div>
        </div>
     <!--  </div>
 -->

      <!-- Utvecklare -->
      <p id = "creatorText">Michael Novén</p>
      <p id = "creatorText2">Utveckling, design och recept</p>
      <div id="creatorContainer">
          <img id="creatorImg" ng-src = "img/skapare.png">
      </div>



    </ion-content>

</ion-modal-view>
