
<ion-modal-view>

    <ion-header-bar>
      <h1 class="title">Lägg till nytt recept</h1>

      <!--fulhack tills vidare-->
      	<div style="margin-left:auto; margin-right:10px; ">
    		  <button ng-click="closeModal2()" class="button button-clear button-balanced">Klar</button>
    	  </div>

    </ion-header-bar>


    <ion-content class="has-header" has-bouncing="false">

      <div style="height:21px; background-color:white;"></div>

      <div class="item item-text-wrap">

        <p style="text-align:center">Funkionen kommer inom en snar framtid</p>

      </div>

    </ion-content>

</ion-modal-view>

