<ion-view title="{{recipe.name}}">

  	<ion-nav-bar class="bar-stable">
	 	<ion-nav-back-button class="button icon-left button-clear button-balanced">
	 	</ion-nav-back-button>

	 	<ion-nav-buttons side="right">
         <button style="color:#ef473a" ng-click="showConfirm()" class="button button-icon ion-trash-b assertive"></button>
      </ion-nav-buttons>

 	</ion-nav-bar>

  	<ion-content class="has-header">

      <!-- För space innan header -->
  		<div style="height:20px;"></div>

  		<div class="recPicContainer">
  			<img id="recipeDetailImage" on-hold="takePicture()" imageonload ng-src="{{recipe.picUrlWide}}" >
  			<span class="loading">

  				<div class="loadIconRecipeContainer">
  					<i class="icon ion-loading-c loadingIconRecipe"></i>
  				</div>

  			</span>
  		</div>

  		<!-- TIME -->
  		<div class="cookTime1">
  			<label class="button-icon icon ion-ios7-clock-outline"></label>
  		</div>

  		<div class="cookTime2"><p>{{recipe.cookTime}} min</p></div>

  		<!-- ANTAL MATLÅDOR -->

  		<div id="fork">
  			<label class="button-icon icon ion-fork"></label>
  		</div>
  		<div id="knife">
  			<label class="button-icon icon ion-knife"></label>
  		</div>

  		<div class="portionsText"><p>{{recipe.servings}} Lådor</p></div>

  		<!-- DESCRIPTION -->

  	  	<div id="recipeDesc" class="item item-text-wrap">
  		     <p>{{recipe.desc}}</p>
  	  	</div>

  		<ul class="item-text-wrap">

  		    <li ng-repeat="steps in recipe.steps" class="item item-checkbox item-checkbox-right">
  	    	<label class="checkbox checkbox-balanced">
  	      		<input type="checkbox">
  	     	</label>
  		    	<p>{{steps.id+1}}. {{steps.desc}}</p>
  		    </li>

  		</ul>

  		<!-- Favoriter -->
  		<p id = "favText">Lägg till bland favoriter?</p>
  		<div id="favContainer">
  	  		<img id="favHeartImg" ng-click="addToFavorites()" ng-src = "img/konturer1.png">
  	 	</div>

  	 	<div style="height:60px;"></div>
	    </ion-content>

	<!--Inköpslistan nedre -->
	<div class="paper"><p class="igrText">Inköpslista</p>

	  	<ul>
	  		<li ng-repeat="ingredients in recipe.ingridients" class="ingredientListItem">

	  			<div id="rec2">
	  			<p class="igrText">{{ingredients.desc}}</p></div><br/>
	  		</li>
	  	</ul>

	</div>

</ion-view>
