<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.apptit" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>apptit</name>
  <description>
        En app till för matlådor och storkok
  </description>
  <author email="info@apptit.nu" href="info@apptit.nu">
      Apptit
  </author>
  <content src="http://192.168.0.10:8100" original-src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <uses-permission android:name="android.permission.CAMERA"/>
</widget>